/* src/index.css: Limpiar estilos globales, la mayoría se manejan en styled-components */

/* Opcional: Reset básico para asegurar la base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* Establecer una fuente base si se desea, o usar la fuente por defecto de Bootstrap/navegador */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7; /* Fondo sutil para dar sensación de profundidad */
}

/* El resto de los estilos están en los componentes con styled-components y Bootstrap */